# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / Packaging
dist/
build/
*.egg-info/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Localinux
config.yaml